/*
    Wizard
*/
.wizard {
    display: block;
    width: 100%;
    overflow: hidden;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
    position: absolute;
    visibility: hidden;
    display: none;
}
.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
}
.wizard > .steps .number {
    font-size: 1.429em;
    visibility: hidden;
}
.wizard > .steps > ul > li {
    width: 33.333%;
}
.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
    float: left;
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 30px;
    height: 30px;
    width: 50px;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
    margin: auto;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    background: #fcfcfc;
    color: #111;
    cursor: default;
    margin: auto;
    margin-bottom: 1.5rem;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    background: #4CAF50;
    color: #fff;
    margin: auto;
}
.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background: #ff3111;
    color: #fff;
}
.wizard > .content > .body input.error,
.wizard > .content > .body select.error {
    border: 1px solid #fa4531;
}
.wizard > .content > .body label.error:before,
label.error:before {
    content: '';
    width: 0;
    height: 0;
    top: -5px;
    position: absolute;
    left: 6px;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid #c83535;
}
.wizard > .content > .body label.error,
label.error {
    display: block;
    font-size: 11px;
    position: absolute;
    z-index: 10;
    margin-top: 2px;
    color: #ffffff;
    background: rgb(200, 53, 53);
    box-shadow: 0 6px 2px -2px rgba(211, 77, 77, 0.47);
    padding: 4px 10px;
    border-radius: 1px;
    pointer-events: none;
    margin-top: .4rem;
}
.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}
.wizard > .actions > ul > li {
    margin: 0 0.5em;
}
.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}
.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    display: block;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    display: inline-block;
    padding: 8px;
    border-radius: 30px;
    margin: auto;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa;
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.steps > ul > li > a,
.actions li a { 
    padding: 10px;
    text-decoration: none;
    margin: 1px;
    display: block;
    color: #777;
}
.steps > ul > li,
.actions li {
    list-style:none;
} 